extends ./head
block content
  .all-wrapper
    .all-header-wrapper
      .all-main-header-wrapper
        a.all-header-logo-wrapper(href='/')
          svg(width='177' height='39' viewbox='0 0 177 39' xmlns='http://www.w3.org/2000/svg')
            path(d='M1 15.0585H0.625V15.4335V30V30.375H1H3.35426H3.72926V30V24.1734C3.72926 23.2584 3.94231 22.1899 4.38397 20.9622C4.8192 19.7524 5.44061 18.7258 6.24556 17.8764C7.04747 17.0307 7.94334 16.6279 8.94562 16.6279C9.80715 16.6279 10.3115 16.9257 10.5837 17.4559L10.5837 17.456L10.5858 17.46C10.8964 18.0473 11.072 18.9656 11.072 20.2587V30V30.375H11.447H13.8013H14.1763V30V19.9249C14.1763 18.3903 13.8091 17.1251 13.0343 16.1699C12.2453 15.1765 11.1187 14.6944 9.71075 14.6944C8.49367 14.6944 7.40336 15.0534 6.45346 15.7717L6.45344 15.7717L6.45023 15.7742C5.54331 16.4756 4.7947 17.3658 4.203 18.4389L4.20297 18.4388L4.20038 18.4437C4.02842 18.7667 3.87138 19.0955 3.72926 19.43V15.4335V15.0585H3.35426H1ZM16.943 15.0585H16.568V15.4335V17.4971V17.8721H16.943H19.2754V30V30.375H19.6504H22.0046H22.3796V30V17.8721H26.0657H26.4407V17.4971V15.4335V15.0585H26.0657H22.3796V14.3107C22.3796 13.3482 22.4188 12.6826 22.4896 12.2931C22.5798 11.9075 22.7047 11.7424 22.7989 11.6806L22.799 11.6806L22.8056 11.6761C22.9479 11.5782 23.219 11.4993 23.682 11.4993H26.5954H26.9704V11.1243V9V8.625H26.5954H24.9769C24.6732 8.625 24.3436 8.7842 24.0197 8.99817C23.6807 9.22216 23.2855 9.54925 22.8367 9.97092L22.8367 9.97091L22.8336 9.97382C21.9544 10.8187 21.1456 11.7455 20.4072 12.7539L20.4072 12.7539L20.4044 12.7578C20.0441 13.2635 19.7661 13.7153 19.5769 14.111C19.4155 14.4485 19.3074 14.768 19.2814 15.0585H16.943ZM34.2056 29.023L34.2055 29.0231L34.2118 29.0291C34.6612 29.4512 35.0595 29.7789 35.4045 30.0033C35.7363 30.2192 36.0713 30.375 36.3815 30.375H38H38.375V30V27.8757V27.5007H38H35.0866C34.6357 27.5007 34.3596 27.4357 34.2082 27.3519C34.0999 27.2626 33.9799 27.0734 33.8942 26.707C33.8234 26.3175 33.7842 25.6519 33.7842 24.6893V17.8721H37.4703H37.8453V17.4971V15.4335V15.0585H37.4703H33.7842V10.396V10.021H33.4092H31.0549H30.6799V10.396V15.0585H28.3475H27.9725V15.4335V17.4971V17.8721H28.3475H30.6799V23.4754C30.6799 24.184 31.0935 25.0857 31.803 26.1425L31.803 26.1426L31.8049 26.1453C32.5244 27.1964 33.3246 28.1558 34.2056 29.023Z' stroke='black' stroke-width='0.75')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M65.4999 0C76.2689 0 85 8.73045 85 19.5C85 30.2696 76.2689 39 65.4999 39C54.7304 39 46 30.2696 46 19.5C46 8.73045 54.7304 0 65.4999 0ZM64.795 1.45918C62.5704 1.77225 60.4521 3.5598 58.8078 6.54947C58.3308 7.41666 57.9005 8.37472 57.5255 9.40918C59.7613 8.84732 62.2174 8.51606 64.795 8.46482V1.45918ZM55.8774 9.87753C56.3438 8.41384 56.9143 7.06719 57.5727 5.87013C58.3878 4.38808 59.3552 3.10825 60.4451 2.12528C54.5182 3.8466 49.8465 8.51837 48.1252 14.4453C49.1082 13.3554 50.388 12.388 51.87 11.5729C53.0671 10.9144 54.4137 10.3439 55.8774 9.87753ZM55.4091 11.5256C54.8472 13.7614 54.516 16.2176 54.4647 18.7952H47.4591C47.7721 16.5705 49.5597 14.4522 52.5494 12.808C53.4166 12.331 54.3746 11.9007 55.4091 11.5256ZM55.8746 18.7952C55.9328 15.9822 56.3378 13.3413 57.0079 11.0079C59.3412 10.3379 61.9821 9.93291 64.795 9.8747V12.9195C63.7456 15.606 61.6053 17.7462 58.9188 18.7952H55.8746ZM54.4647 20.2048H47.4591C47.7721 22.4295 49.5597 24.5477 52.5494 26.192C53.4166 26.669 54.3746 27.0993 55.4091 27.4744C54.8472 25.2386 54.516 22.7824 54.4647 20.2048ZM57.0079 27.9921C56.3378 25.6587 55.9328 23.0178 55.8746 20.2048H58.9188C61.6053 21.2538 63.7456 23.394 64.795 26.0805V29.1253C61.9821 29.0671 59.3412 28.6621 57.0079 27.9921ZM55.8774 29.1225C54.4137 28.6561 53.0671 28.0856 51.87 27.4271C50.388 26.612 49.1082 25.6446 48.1252 24.5547C49.8465 30.4816 54.5182 35.1534 60.4451 36.8747C59.3552 35.8917 58.3878 34.6119 57.5727 33.1298C56.9143 31.9328 56.3438 30.5861 55.8774 29.1225ZM64.795 37.5408C62.5704 37.2277 60.4521 35.4402 58.8078 32.4505C58.3308 31.5834 57.9005 30.6252 57.5255 29.5909C59.7613 30.1527 62.2174 30.484 64.795 30.5351V37.5408ZM70.5545 36.8747C71.6445 35.8917 72.6117 34.6119 73.4268 33.1298C74.085 31.9328 74.6563 30.5861 75.1224 29.1225C76.5858 28.6561 77.9323 28.0856 79.1296 27.4271C80.6116 26.612 81.8917 25.6446 82.8745 24.5547C81.1527 30.4816 76.4815 35.1534 70.5545 36.8747ZM73.4746 29.5909C73.0992 30.6252 72.6683 31.5834 72.1915 32.4505C70.5475 35.4402 68.4292 37.2277 66.2046 37.5408V30.5351C68.7822 30.484 71.2383 30.1527 73.4746 29.5909ZM75.5904 27.4744C76.6248 27.0993 77.5832 26.669 78.45 26.192C81.4403 24.5478 83.2275 22.4295 83.5404 20.2048H76.5351C76.4834 22.7824 76.1519 25.2386 75.5904 27.4744ZM75.1253 20.2048C75.0668 23.0178 74.6622 25.6587 73.9914 27.9921C71.6584 28.6621 69.0175 29.0671 66.2046 29.1253V26.0827C67.2537 23.3952 69.3945 21.2541 72.0817 20.2048H75.1253ZM76.5351 18.7952H83.5404C83.2275 16.5705 81.4403 14.4522 78.45 12.808C77.5832 12.331 76.6248 11.9007 75.5904 11.5256C76.1519 13.7614 76.4834 16.2176 76.5351 18.7952ZM73.9914 11.0079C74.6622 13.3413 75.0668 15.9822 75.1253 18.7952H72.0818C69.3945 17.7459 67.2537 15.6048 66.2046 12.9173V9.8747C69.0175 9.93291 71.6584 10.3379 73.9914 11.0079ZM75.1224 9.87753C76.5858 10.3439 77.9323 10.9144 79.1296 11.5729C80.6116 12.388 81.8917 13.3554 82.8745 14.4453C81.1527 8.51837 76.4815 3.8466 70.5545 2.12528C71.6445 3.10825 72.6117 4.38808 73.4268 5.87013C74.085 7.06719 74.6563 8.41384 75.1224 9.87753ZM66.2046 1.45918C68.4292 1.77225 70.5475 3.5598 72.1915 6.54947C72.6683 7.41667 73.0992 8.37472 73.4746 9.40918C71.2383 8.84732 68.7822 8.51606 66.2046 8.46482V1.45918Z')
            path(d='M100.959 29.642C100.571 29.642 99.9389 29.2344 99.0642 28.419C98.209 27.5838 97.4316 26.6591 96.7318 25.6449C96.0321 24.6108 95.6823 23.8054 95.6823 23.2287V17.3523H93V15.3239H95.6823V10.3722H98.0147V15.3239H102.038V17.3523H98.0147V24.4219C98.0147 25.3764 98.0535 26.0625 98.1313 26.4801C98.2285 26.8977 98.384 27.1861 98.5978 27.3452C98.831 27.4844 99.1906 27.554 99.6765 27.554H102.563V29.642H100.959Z')
            path(d='M106.186 15.3239H108.519V29.642H106.186V15.3239ZM105.778 11.2074C105.778 10.7699 105.924 10.392 106.215 10.0739C106.526 9.75568 106.905 9.59659 107.352 9.59659C107.8 9.59659 108.169 9.75568 108.46 10.0739C108.771 10.392 108.927 10.7699 108.927 11.2074C108.927 11.6449 108.771 12.0227 108.46 12.3409C108.169 12.6591 107.8 12.8182 107.352 12.8182C106.905 12.8182 106.526 12.6591 106.215 12.3409C105.924 12.0227 105.778 11.6449 105.778 11.2074Z')
            path(d='M119.883 30C118.444 30 117.171 29.6719 116.063 29.0156C114.955 28.3395 114.09 27.4347 113.468 26.3011C112.866 25.1477 112.565 23.875 112.565 22.483C112.565 21.0909 112.866 19.8281 113.468 18.6946C114.09 17.5412 114.965 16.6364 116.092 15.9801C117.22 15.304 118.522 14.9659 119.999 14.9659C120.99 14.9659 121.797 15.0753 122.419 15.294C123.041 15.4929 123.614 15.7813 124.139 16.1591V18.3963C123.575 17.9986 122.973 17.6804 122.332 17.4418C121.71 17.1832 120.961 17.054 120.087 17.054C118.493 17.054 117.229 17.5412 116.296 18.5156C115.363 19.4901 114.897 20.8125 114.897 22.483C114.897 24.0938 115.354 25.4063 116.267 26.4205C117.2 27.4148 118.503 27.9119 120.174 27.9119C121.068 27.9119 121.826 27.8125 122.448 27.6136C123.09 27.3949 123.721 27.0767 124.343 26.6591V28.6577C123.644 29.1151 122.992 29.4531 122.39 29.6719C121.787 29.8906 120.952 30 119.883 30Z')
            path(d='M128.123 9H130.455V21.4688C130.727 20.4545 131.194 19.4801 131.855 18.5455C132.535 17.5909 133.312 16.8153 134.187 16.2188C135.081 15.6222 135.985 15.3239 136.898 15.3239H138.968V17.3523H135.382C134.41 17.3523 133.487 17.7798 132.613 18.6349C131.738 19.4702 131.116 20.4545 130.747 21.5881H138.968V29.642H136.636V23.6165H130.455V29.642H128.123V9Z')
            path(d='M149.651 30C148.271 30 147.027 29.6719 145.92 29.0156C144.831 28.3395 143.986 27.4347 143.383 26.3011C142.781 25.1477 142.479 23.875 142.479 22.483C142.479 21.0909 142.781 19.8281 143.383 18.6946C143.986 17.5412 144.821 16.6364 145.89 15.9801C146.959 15.304 148.164 14.9659 149.506 14.9659C150.652 14.9659 151.634 15.1946 152.45 15.652C153.286 16.1094 153.908 16.706 154.316 17.4418C154.744 18.1577 154.958 18.9034 154.958 19.679C154.958 20.5739 154.676 21.2898 154.112 21.8267C153.568 22.3438 152.713 22.6023 151.546 22.6023H144.812C144.851 24.1733 145.327 25.456 146.24 26.4503C147.154 27.4247 148.407 27.9119 150.001 27.9119C150.74 27.9119 151.488 27.8125 152.246 27.6136C153.004 27.3949 153.655 27.0767 154.2 26.6591V28.6577C152.897 29.5526 151.381 30 149.651 30ZM151.546 22.304C152.363 22.304 152.936 22.0952 153.267 21.6776C153.616 21.2599 153.791 20.7628 153.791 20.1861C153.791 19.2713 153.412 18.5256 152.654 17.9489C151.916 17.3523 150.934 17.054 149.71 17.054C148.271 17.054 147.095 17.5313 146.182 18.4858C145.288 19.4403 144.831 20.7131 144.812 22.304H151.546Z')
            path(d='M165.396 29.642C165.008 29.642 164.376 29.2344 163.501 28.419C162.646 27.5838 161.869 26.6591 161.169 25.6449C160.469 24.6108 160.119 23.8054 160.119 23.2287V17.3523H157.437V15.3239H160.119V10.3722H162.452V15.3239H166.475V17.3523H162.452V24.4219C162.452 25.3764 162.491 26.0625 162.568 26.4801C162.666 26.8977 162.821 27.1861 163.035 27.3452C163.268 27.4844 163.628 27.554 164.114 27.554H167V29.642H165.396Z')
            path(d='M100.959 29.642C100.571 29.642 99.9389 29.2344 99.0642 28.419C98.209 27.5838 97.4316 26.6591 96.7318 25.6449C96.0321 24.6108 95.6823 23.8054 95.6823 23.2287V17.3523H93V15.3239H95.6823V10.3722H98.0147V15.3239H102.038V17.3523H98.0147V24.4219C98.0147 25.3764 98.0535 26.0625 98.1313 26.4801C98.2285 26.8977 98.384 27.1861 98.5978 27.3452C98.831 27.4844 99.1906 27.554 99.6765 27.554H102.563V29.642H100.959Z')
            path(d='M106.186 15.3239H108.519V29.642H106.186V15.3239ZM105.778 11.2074C105.778 10.7699 105.924 10.392 106.215 10.0739C106.526 9.75568 106.905 9.59659 107.352 9.59659C107.8 9.59659 108.169 9.75568 108.46 10.0739C108.771 10.392 108.927 10.7699 108.927 11.2074C108.927 11.6449 108.771 12.0227 108.46 12.3409C108.169 12.6591 107.8 12.8182 107.352 12.8182C106.905 12.8182 106.526 12.6591 106.215 12.3409C105.924 12.0227 105.778 11.6449 105.778 11.2074Z')
            path(d='M119.883 30C118.444 30 117.171 29.6719 116.063 29.0156C114.955 28.3395 114.09 27.4347 113.468 26.3011C112.866 25.1477 112.565 23.875 112.565 22.483C112.565 21.0909 112.866 19.8281 113.468 18.6946C114.09 17.5412 114.965 16.6364 116.092 15.9801C117.22 15.304 118.522 14.9659 119.999 14.9659C120.99 14.9659 121.797 15.0753 122.419 15.294C123.041 15.4929 123.614 15.7813 124.139 16.1591V18.3963C123.575 17.9986 122.973 17.6804 122.332 17.4418C121.71 17.1832 120.961 17.054 120.087 17.054C118.493 17.054 117.229 17.5412 116.296 18.5156C115.363 19.4901 114.897 20.8125 114.897 22.483C114.897 24.0938 115.354 25.4063 116.267 26.4205C117.2 27.4148 118.503 27.9119 120.174 27.9119C121.068 27.9119 121.826 27.8125 122.448 27.6136C123.09 27.3949 123.721 27.0767 124.343 26.6591V28.6577C123.644 29.1151 122.992 29.4531 122.39 29.6719C121.787 29.8906 120.952 30 119.883 30Z')
            path(d='M128.123 9H130.455V21.4688C130.727 20.4545 131.194 19.4801 131.855 18.5455C132.535 17.5909 133.312 16.8153 134.187 16.2188C135.081 15.6222 135.985 15.3239 136.898 15.3239H138.968V17.3523H135.382C134.41 17.3523 133.487 17.7798 132.613 18.6349C131.738 19.4702 131.116 20.4545 130.747 21.5881H138.968V29.642H136.636V23.6165H130.455V29.642H128.123V9Z')
            path(d='M149.651 30C148.271 30 147.027 29.6719 145.92 29.0156C144.831 28.3395 143.986 27.4347 143.383 26.3011C142.781 25.1477 142.479 23.875 142.479 22.483C142.479 21.0909 142.781 19.8281 143.383 18.6946C143.986 17.5412 144.821 16.6364 145.89 15.9801C146.959 15.304 148.164 14.9659 149.506 14.9659C150.652 14.9659 151.634 15.1946 152.45 15.652C153.286 16.1094 153.908 16.706 154.316 17.4418C154.744 18.1577 154.958 18.9034 154.958 19.679C154.958 20.5739 154.676 21.2898 154.112 21.8267C153.568 22.3438 152.713 22.6023 151.546 22.6023H144.812C144.851 24.1733 145.327 25.456 146.24 26.4503C147.154 27.4247 148.407 27.9119 150.001 27.9119C150.74 27.9119 151.488 27.8125 152.246 27.6136C153.004 27.3949 153.655 27.0767 154.2 26.6591V28.6577C152.897 29.5526 151.381 30 149.651 30ZM151.546 22.304C152.363 22.304 152.936 22.0952 153.267 21.6776C153.616 21.2599 153.791 20.7628 153.791 20.1861C153.791 19.2713 153.412 18.5256 152.654 17.9489C151.916 17.3523 150.934 17.054 149.71 17.054C148.271 17.054 147.095 17.5313 146.182 18.4858C145.288 19.4403 144.831 20.7131 144.812 22.304H151.546Z')
            path(d='M165.396 29.642C165.008 29.642 164.376 29.2344 163.501 28.419C162.646 27.5838 161.869 26.6591 161.169 25.6449C160.469 24.6108 160.119 23.8054 160.119 23.2287V17.3523H157.437V15.3239H160.119V10.3722H162.452V15.3239H166.475V17.3523H162.452V24.4219C162.452 25.3764 162.491 26.0625 162.568 26.4801C162.666 26.8977 162.821 27.1861 163.035 27.3452C163.268 27.4844 163.628 27.554 164.114 27.554H167V29.642H165.396Z')
            path(d='M100.959 29.642C100.571 29.642 99.9389 29.2344 99.0642 28.419C98.209 27.5838 97.4316 26.6591 96.7318 25.6449C96.0321 24.6108 95.6823 23.8054 95.6823 23.2287V17.3523H93V15.3239H95.6823V10.3722H98.0147V15.3239H102.038V17.3523H98.0147V24.4219C98.0147 25.3764 98.0535 26.0625 98.1313 26.4801C98.2285 26.8977 98.384 27.1861 98.5978 27.3452C98.831 27.4844 99.1906 27.554 99.6765 27.554H102.563V29.642H100.959Z' stroke='black' stroke-width='1.5')
            path(d='M106.186 15.3239H108.519V29.642H106.186V15.3239ZM105.778 11.2074C105.778 10.7699 105.924 10.392 106.215 10.0739C106.526 9.75568 106.905 9.59659 107.352 9.59659C107.8 9.59659 108.169 9.75568 108.46 10.0739C108.771 10.392 108.927 10.7699 108.927 11.2074C108.927 11.6449 108.771 12.0227 108.46 12.3409C108.169 12.6591 107.8 12.8182 107.352 12.8182C106.905 12.8182 106.526 12.6591 106.215 12.3409C105.924 12.0227 105.778 11.6449 105.778 11.2074Z' stroke='black' stroke-width='1.5')
            path(d='M119.883 30C118.444 30 117.171 29.6719 116.063 29.0156C114.955 28.3395 114.09 27.4347 113.468 26.3011C112.866 25.1477 112.565 23.875 112.565 22.483C112.565 21.0909 112.866 19.8281 113.468 18.6946C114.09 17.5412 114.965 16.6364 116.092 15.9801C117.22 15.304 118.522 14.9659 119.999 14.9659C120.99 14.9659 121.797 15.0753 122.419 15.294C123.041 15.4929 123.614 15.7813 124.139 16.1591V18.3963C123.575 17.9986 122.973 17.6804 122.332 17.4418C121.71 17.1832 120.961 17.054 120.087 17.054C118.493 17.054 117.229 17.5412 116.296 18.5156C115.363 19.4901 114.897 20.8125 114.897 22.483C114.897 24.0938 115.354 25.4063 116.267 26.4205C117.2 27.4148 118.503 27.9119 120.174 27.9119C121.068 27.9119 121.826 27.8125 122.448 27.6136C123.09 27.3949 123.721 27.0767 124.343 26.6591V28.6577C123.644 29.1151 122.992 29.4531 122.39 29.6719C121.787 29.8906 120.952 30 119.883 30Z' stroke='black' stroke-width='1.5')
            path(d='M128.123 9H130.455V21.4688C130.727 20.4545 131.194 19.4801 131.855 18.5455C132.535 17.5909 133.312 16.8153 134.187 16.2188C135.081 15.6222 135.985 15.3239 136.898 15.3239H138.968V17.3523H135.382C134.41 17.3523 133.487 17.7798 132.613 18.6349C131.738 19.4702 131.116 20.4545 130.747 21.5881H138.968V29.642H136.636V23.6165H130.455V29.642H128.123V9Z' stroke='black' stroke-width='1.5')
            path(d='M149.651 30C148.271 30 147.027 29.6719 145.92 29.0156C144.831 28.3395 143.986 27.4347 143.383 26.3011C142.781 25.1477 142.479 23.875 142.479 22.483C142.479 21.0909 142.781 19.8281 143.383 18.6946C143.986 17.5412 144.821 16.6364 145.89 15.9801C146.959 15.304 148.164 14.9659 149.506 14.9659C150.652 14.9659 151.634 15.1946 152.45 15.652C153.286 16.1094 153.908 16.706 154.316 17.4418C154.744 18.1577 154.958 18.9034 154.958 19.679C154.958 20.5739 154.676 21.2898 154.112 21.8267C153.568 22.3438 152.713 22.6023 151.546 22.6023H144.812C144.851 24.1733 145.327 25.456 146.24 26.4503C147.154 27.4247 148.407 27.9119 150.001 27.9119C150.74 27.9119 151.488 27.8125 152.246 27.6136C153.004 27.3949 153.655 27.0767 154.2 26.6591V28.6577C152.897 29.5526 151.381 30 149.651 30ZM151.546 22.304C152.363 22.304 152.936 22.0952 153.267 21.6776C153.616 21.2599 153.791 20.7628 153.791 20.1861C153.791 19.2713 153.412 18.5256 152.654 17.9489C151.916 17.3523 150.934 17.054 149.71 17.054C148.271 17.054 147.095 17.5313 146.182 18.4858C145.288 19.4403 144.831 20.7131 144.812 22.304H151.546Z' stroke='black' stroke-width='1.5')
            path(d='M165.396 29.642C165.008 29.642 164.376 29.2344 163.501 28.419C162.646 27.5838 161.869 26.6591 161.169 25.6449C160.469 24.6108 160.119 23.8054 160.119 23.2287V17.3523H157.437V15.3239H160.119V10.3722H162.452V15.3239H166.475V17.3523H162.452V24.4219C162.452 25.3764 162.491 26.0625 162.568 26.4801C162.666 26.8977 162.821 27.1861 163.035 27.3452C163.268 27.4844 163.628 27.554 164.114 27.554H167V29.642H165.396Z' stroke='black' stroke-width='1.5')
            path(d='M172 11.2323C173.021 10.8339 173.833 10.0211 174.232 9.00085L174.768 9C175.166 10.0207 175.979 10.8338 177 11.2323L177 11.7677C175.979 12.1662 175.166 12.9793 174.768 14L174.232 13.9991C173.833 12.9789 173.021 12.1661 172 11.7677V11.2323Z')
        .all-header-search-wrapper
          .all-header-main-search-wrapper
            input.all-header-main-search-field#all-header-main-search-field(type='text' placeholder='Event, Artist, Place')
            svg.all-header-main-search-icon(viewbox='0 0 24 25' xmlns='http://www.w3.org/2000/svg')
              path(d='M21.7501 21.1894L16.086 15.5254C17.447 13.8914 18.1257 11.7956 17.9809 9.67395C17.836 7.55231 16.8788 5.56819 15.3084 4.13434C13.7379 2.70048 11.6751 1.92729 9.54906 1.9756C7.42304 2.02391 5.39748 2.89001 3.89377 4.39372C2.39006 5.89744 1.52396 7.92299 1.47565 10.049C1.42733 12.175 2.20053 14.2378 3.63438 15.8083C5.06824 17.3788 7.05236 18.336 9.17399 18.4808C11.2956 18.6257 13.3914 17.947 15.0254 16.5859L20.6895 22.25L21.7501 21.1894ZM3.00006 10.25C3.00006 8.91499 3.39594 7.60994 4.13764 6.49991C4.87933 5.38988 5.93354 4.52471 7.16694 4.01382C8.40034 3.50293 9.75754 3.36926 11.0669 3.62971C12.3763 3.89016 13.579 4.53303 14.523 5.47704C15.467 6.42104 16.1099 7.62378 16.3704 8.93315C16.6308 10.2425 16.4971 11.5997 15.9862 12.8331C15.4754 14.0665 14.6102 15.1207 13.5002 15.8624C12.3901 16.6041 11.0851 17 9.75006 17C7.96045 16.998 6.24472 16.2862 4.97928 15.0208C3.71384 13.7553 3.00204 12.0396 3.00006 10.25Z')
            .all-header-main-search-dropdown-wrapper
              .each-header-main-search-dropdown-item Araba
              .each-header-main-search-dropdown-item Bilet
              .each-header-main-search-dropdown-item Cinema
              .each-header-main-search-dropdown-item Ders
              .each-header-main-search-dropdown-item Eklem 
              .each-header-main-search-dropdown-item Festival
              #all-header-main-search-dropdown-no-result-item No Result
          .all-header-date-search-wrapper
            .all-header-date-search-text Date
            input.display-none#all-header-date-search-input(type='text')
            svg.all-header-each-search-arrow(viewbox='0 0 17 17' xmlns='http://www.w3.org/2000/svg')
              path(d='M8.33325 11.5L3.33325 6.50002L4.03325 5.80002L8.33325 10.1L12.6333 5.80002L13.3333 6.50002L8.33325 11.5Z')
            .all-header-date-search-dropdown-wrapper
              .each-header-date-search-dropdown-item All Dates
              .each-header-date-search-dropdown-item Today
              .each-header-date-search-dropdown-item Weekend
              .each-header-date-search-dropdown-item Next Week
              .each-header-date-search-dropdown-item This Week
              .each-header-date-search-dropdown-item Next 15 Days
              .each-header-date-search-dropdown-item Next 30 Days
              .each-header-date-search-dropdown-item Date Range
          .all-header-place-search-wrapper
            .all-header-place-search-text Place
            input.display-none#all-header-place-search-input(type='text')
            svg.all-header-each-search-arrow(viewbox='0 0 17 17' xmlns='http://www.w3.org/2000/svg')
              path(d='M8.33325 11.5L3.33325 6.50002L4.03325 5.80002L8.33325 10.1L12.6333 5.80002L13.3333 6.50002L8.33325 11.5Z')
            .all-header-place-search-dropdown-wrapper
              .all-header-place-search-dropdown-item-wrapper
                .each-header-place-search-dropdown-item All of Turkey
                .each-header-place-search-dropdown-item Istanbul
                .each-header-place-search-dropdown-item Ankara
                .each-header-place-search-dropdown-item Izmir
                .each-header-place-search-dropdown-item Antalya
                .each-header-place-search-dropdown-item Bursa
                .each-header-place-search-dropdown-item Adana
                .each-header-place-search-dropdown-item Konya
                .each-header-place-search-dropdown-item Gaziantep
                .each-header-place-search-dropdown-item Kahramanmaraş
                .each-header-place-search-dropdown-item Mersin
                .each-header-place-search-dropdown-item Diyarbakır
                .each-header-place-search-dropdown-item Kayseri
                .each-header-place-search-dropdown-item Eskişehir
                .each-header-place-search-dropdown-item Şanlıurfa
                .each-header-place-search-dropdown-item Malatya
                .each-header-place-search-dropdown-item Samsun
                .each-header-place-search-dropdown-item Denizli
                .each-header-place-search-dropdown-item Erzurum
                .each-header-place-search-dropdown-item Van
                .each-header-place-search-dropdown-item Batman
                .each-header-place-search-dropdown-item Elazığ
                .each-header-place-search-dropdown-item İzmit
                .each-header-place-search-dropdown-item Manisa
                .each-header-place-search-dropdown-item Sivas
                .each-header-place-search-dropdown-item Gebze
                .each-header-place-search-dropdown-item Balıkesir
                .each-header-place-search-dropdown-item Tarsus
                .each-header-place-search-dropdown-item Trabzon
        .all-header-buttons-wrapper
          .all-header-change-currency-button#all-header-change-currency-button
            img.all-header-change-currency-icon(src='/img/atom.png')
            .all-header-change-currency-text ATOM
          .all-header-connect-wallet-button#all-header-connect-wallet-button Connect Wallet
      .all-subheader-wrapper
        a.each-subheader-button(href='/') MUSIC
        a.each-subheader-button(href='/') SCENE
        a.each-subheader-button(href='/') SPORT
        a.each-subheader-button(href='/') FAMILY
        a.each-subheader-button(href='/') EDUCATION
        a.each-subheader-button(href='/') MORE    
      .all-header-connect-wallet-pop-up-background-layer
        .all-header-connect-wallet-pop-up-wrapper
          .all-header-connect-wallet-pop-up-header
            .all-header-connect-wallet-pop-up-title Connect your wallet
            svg.all-header-connect-wallet-pop-up-close-button(viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
              path(d='M7 7L17 17 M7 17L17 7' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
          .each-header-connect-wallet-pop-up-item-wrapper
            img.each-header-connect-wallet-pop-up-item-icon(src='/favicon.ico')
            .each-header-connect-wallet-pop-up-item-name Metamask
          .each-header-connect-wallet-pop-up-item-wrapper
            img.each-header-connect-wallet-pop-up-item-icon(src='/favicon.ico')
            .each-header-connect-wallet-pop-up-item-name Coinbase Wallet
          .each-header-connect-wallet-pop-up-item-wrapper
            img.each-header-connect-wallet-pop-up-item-icon(src='/favicon.ico')
            .each-header-connect-wallet-pop-up-item-name WalletConnect
          .each-header-connect-wallet-pop-up-item-wrapper
            img.each-header-connect-wallet-pop-up-item-icon(src='/favicon.ico')
            .each-header-connect-wallet-pop-up-item-name Ledger
          .each-header-connect-wallet-pop-up-item-wrapper
            img.each-header-connect-wallet-pop-up-item-icon(src='/favicon.ico')
            .each-header-connect-wallet-pop-up-item-name BiKeep
    .all-content-wrapper
      block main