:root {
  --event-image-height: 360px;
  --event-each-number-height: 45px;
  --event-details-header-height: 45px;
  --event-details-each-header-button-width: 170px;
  --tickets-search-input-height: 40px;
  --tickets-search-input-width: 400px;
  --tickets-content-filters-width: 250px;
  --each-ticket-price-height: 45px;
  --each-ticket-price-width: 100px;
}

.all-content {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.all-content-inner-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 0 var(--page-horizontal-padding);
  background: linear-gradient(180deg, var(--color-one) 10.89%, var(--color-two) 269.96%, var(--color-three) 375.31%);
  padding-top: 250px;
}

.event-wrapper {
  height: var(--event-image-height);  
  min-height: var(--event-image-height);
  width: 100%;
  min-width: 100%;
  display: flex;
  gap: var(--box-padding);
  overflow: hidden;
}

.event-image {
  height: var(--event-image-height);
  min-height: var(--event-image-height);
  width: var(--event-image-height);
  min-width: var(--event-image-height);
}

.event-info-wrapper {
  height: var(--event-image-height);
  min-height: var(--event-image-height);
  width: var(--event-image-height);
  min-width: var(--event-image-height);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.event-time {
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color-three);
  margin-bottom: 3px;
}
.event-place {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color-three);
  margin-bottom: calc(var(--box-padding) / 3);
}

.event-name {
  font-weight: 400;
  font-size: 40px;
  color: var(--text-color);
}
.event-organizer {
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color-three);
  margin-bottom: calc(var(--box-padding) / 3);
}

.event-description {
  width: 100%;
  min-width: 100%;
  height: fit-content;
  min-height: fit-content;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-color);
  margin-bottom: 5px;
  flex-shrink: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
.event-description-see-more-button {
  height: fit-content;
  min-height: fit-content;
  margin-left: auto;
  font-weight: 300;
  font-size: 15px;
  color: var(--text-color);
  cursor: pointer;
  margin-bottom: calc(var(--box-padding) / 2);
}
.event-description-see-more-button:hover {
  border-bottom: 0.5px solid var(--text-color);
  margin-bottom: calc(var(--box-padding) / 2 - 0.5px);
}

.event-numbers-wrapper {
  margin-top: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: calc(var(--box-padding) / 2);
}

.event-each-number-wrapper {
  height: var(--event-each-number-height);
  min-height: var(--event-each-number-height);
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--text-color);
  border-radius: 3px;
  color: var(--text-color);
  font-weight: 400;
}
.event-floor-wrapper {
  color: var(--main-color) !important;
  border-color: var(--main-color) !important;
  border-width: 2px !important;
  font-weight: 500 !important;
}
.event-each-number-text, .event-each-number {
  font-weight: inherit;
  font-size: 16px;
  color: inherit;
}

.event-details-wrapper {
  flex: 1;
  height: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
}

.event-details-header-wrapper {
  height: var(--event-details-header-height);
  min-height: var(--event-details-header-height);
  width: 100%;
  min-width: 100%;
  display: flex;
  gap: calc(var(--box-padding) / 3);
}
.each-event-details-header {
  height: 100%;
  min-height: 100%;
  width: var(--event-details-each-header-button-width);
  min-width: var(--event-details-each-header-button-width);
  font-weight: 500;
  font-size: 16px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
}
.selected-event-details-header {
  border: none !important;
  color: var(--background-color) !important;
  background-color: var(--main-color) !important;
}

.event-details-content-wrapper {
  height: calc(var(--event-image-height) - var(--event-details-header-height) - calc(var(--box-padding) / 2));
  width: 100%;
  min-width: 100%;
  margin-top: calc(var(--box-padding) / 2);
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.event-details-content {
  font-weight: 400;
  font-size: 15px;
  color: var(--text-color);
  line-height: 200%;
  height: fit-content;
  min-height: fit-content;
}

.tickets-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: calc(2 * var(--box-padding));
}

.tickets-header-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--text-color);
  padding-bottom: calc(var(--box-padding) / 2);
}

.tickets-header-title {
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color);
  margin-left: calc(var(--box-padding) / 2);
}

.tickets-header-on-sale-filter-button {
  display: flex;
  align-items: center;
  height: fit-content;
  min-height: fit-content;
  width: fit-content;
  min-width: fit-content;
  margin-left: var(--box-padding);
  cursor: pointer;
}
.tickets-header-on-sale-filter-icon {
  width: 14px;
  min-width: 14px;
  height: 14px;
  min-height: 14px;
  border-radius: 100%;
  border: 1px solid var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.tickets-header-on-sale-filter-icon-inner-circle {
  width: 8px;
  min-width: 8px;
  height: 8px;
  min-height: 8px;
  background-color: var(--main-color);
  border-radius: 100%;
}
.tickets-header-on-sale-filter-text {
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color);
  margin-left: 7px;
}

.tickets-header-search-wrapper {
  height: var(--tickets-search-input-height);
  min-height: var(--tickets-search-input-height);
  width: var(--tickets-search-input-width);
  min-width: var(--tickets-search-input-width);
  display: flex;
  align-items: center;
  gap: calc(var(--box-padding) / 2);
  border: 0.25px solid rgba(83, 149, 202, 1);
  border-radius: 3px;
  padding: 0 calc(var(--box-padding) / 2);
  margin-left: auto;
  margin-right: auto;
}
.tickets-header-search-input {
  outline: none;
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 15px;
  color: var(--text-color);
  flex: 1;
}
.tickets-header-search-input::placeholder {
  font-weight: 400;
  color: var(--text-color);
  opacity: 1;
}
.tickets-header-search-icon {
  height: 20px;
  width: auto;
}

.tickets-header-sort-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: fit-content;
  min-width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: auto;
}
.tickets-header-sort-title {
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
  margin-right: 11px;
  text-transform: uppercase;
}
.tickets-header-sort-text {
  font-weight: 400;
  font-size: 15px;
  color: var(--text-color-two);
  margin-right: 5px;
}
.tickets-header-sort-icon {
  height: 8px;
  min-height: 8px;
  width: auto;
}

.tickets-content-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: var(--box-padding);
  gap: var(--box-padding);
}

.tickets-content-filters-wrapper {
  height: fit-content;
  min-height: fit-content;
  width: var(--tickets-content-filters-width);
  min-width: var(--tickets-content-filters-width);
  display: flex;
  flex-direction: column;
  gap: calc(var(--box-padding) / 2);
}

.tickets-content-each-filter-group-wrapper {
  height: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
}
.tickets-content-each-filter-title {
  font-weight: 600;
  font-size: 18px;
  color: var(--text-color);
  margin-bottom: calc(var(--box-padding) / 2);
}
.tickets-content-each-filter-option-wrapper {
  height: fit-content;
  min-height: fit-content;
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--box-padding) / 3);
  cursor: pointer;
}
.tickets-content-each-filter-option-icon {
  width: 14px;
  min-width: 14px;
  height: 14px;
  min-height: 14px;
  border-radius: 100%;
  border: 1px solid var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.tickets-content-each-filter-option-icon-inner-circle {
  width: 8px;
  min-width: 8px;
  height: 8px;
  min-height: 8px;
  background-color: var(--main-color);
  border-radius: 100%;
}
.tickets-content-each-filter-option-text {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  margin-left: 9px;
}

.tickets-content-inner-wrapper {
  flex: 1;
  height: fit-content;
  min-height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 150px;
}

.each-ticket-wrapper {
  width: calc((100vw - 2 * var(--page-horizontal-padding) - var(--box-padding) - var(--tickets-content-filters-width)) / 3);
  height: fit-content;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: calc(var(--box-padding) / 4) calc(var(--box-padding) / 2);
  border-radius: 5px;
}
.each-ticket-wrapper:hover {
  background-color: rgba(248, 248, 248, 0.3);
}
.each-ticket-name {
  font-weight: 600;
  font-size: 24px;
  color: var(--text-color);
  margin-bottom: 5px;
}
.each-ticket-event-info-wrapper {
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--box-padding) / 4);
  margin-bottom: calc(var(--box-padding) / 3);
}
.each-ticket-event-info {
  font-weight: 500;
  font-size: 15px;
  color: var(--text-color);
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
}
.each-ticket-image {
  height: calc((100vw - 2 * var(--page-horizontal-padding) - 3 * var(--box-padding) - var(--tickets-content-filters-width)) / 3);
  min-height: calc((100vw - 2 * var(--page-horizontal-padding) - 3 * var(--box-padding) - var(--tickets-content-filters-width)) / 3);
  width: calc((100vw - 2 * var(--page-horizontal-padding) - 3 * var(--box-padding) - var(--tickets-content-filters-width)) / 3);
  min-width: calc((100vw - 2 * var(--page-horizontal-padding) - 3 * var(--box-padding) - var(--tickets-content-filters-width)) / 3);
}
.each-ticket-price {
  height: var(--each-ticket-price-height);
  min-height: var(--each-ticket-price-height);
  width: var(--each-ticket-price-width);
  min-width: var(--each-ticket-price-width);
  background-color: var(--color-one);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 15px;
  align-self: flex-start;
  margin-left: -10px;
  transform: translateY(-75%);
  border-radius: 2px;
}
.each-ticket-ticket-info-wrapper {
  margin-top: calc(-1 * var(--each-ticket-price-height) + var(--box-padding) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--box-padding) / 3);
}
.each-ticket-category {
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
}
.each-ticket-info {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
}
.each-ticket-info bold {
  font-weight: 700;
  margin-left: 5px;
}